	.gsd-keyboard.settings-ported
	Atom/
	Beeper/
	BraveSoftware/
	Code/
	JetBrains/
	Netflix/
	Prospect Mail/
	QtProject.conf
	Raspberry Pi/
	Twitch/
	autostart/
	balena-etcher/
	baloofilerc
	cfg_230917_14h59m45s/
	cfg_230917_15h14m27s/
	cfg_230917_15h25m55s/
	chromium/
	dconf/
	discord/
	dleyna-renderer-service.conf
	evolution/
	gnome-control-center/
	gnome-shell/
	google-chrome-beta/
	google-chrome-unstable/
	google-chrome/
	gsconnect/
	htop/
	janbar/
	microsoft-edge-beta/
	microsoft-edge-dev/
	mimeapps.list
	monitors.xml
	monitors.xml~
	mpv/
	nautilus/
	nvh/
	nwg-bar/
	nwg-drawer/
	oldhypr/
	oldwaybar/
	olwaybar2/
	pavucontrol.ini
	pmbootstrap.cfg
	protonmail/
	solaar/
	spotify/
	starship/
	swappy/
	testconf/
	totem/
	user-dirs.dirs
	user-dirs.locale
	vlc/
	whatsapp-for-linux/
	yelp/
